@media (min-width: 768px) {
  .carousel-inner {
    display: flex;
  }
  .carousel-item {
    margin-right: 0;
    flex: 0 0 25.333333%;
    display: block;
  }
  .breadcrumb-title {
    font-size: 40px;
  }
}


.home-content {
  position: relative;
  background-image: url('../img/BBBACKG.JPG');
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  padding: 20px;
  color: white; 
}

.home-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; 
}
.home-content .container {
  position: relative;
  z-index: 2;
}

.middle-title {
  margin-top: 1%;
  font-family: 'Jockey One',;
  font-weight: 400;
  font-size: 48px;
  color: #FFFDFD;
  line-height: normal;
}
.middle-title span{
  font-family: 'Abhaya Libre';
}

.lessons {
  position: relative;
  background-image: url('../img/BBBCCC.JPG');
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  padding: 20px;
  color: white; 
}

.lessons::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; 
}

.lessons .container {
  position: relative;
  z-index: 2;
}

.streamed-session {
  position: relative;
  background-image: url('../img/BACCKK.JPG');
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  padding: 20px;
  color: white; 
}

.streamed-session::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; 
}

.streamed-session .container { 
  position: relative;
  z-index: 2;
}

.more-video {
  background-color: #b3b3b3;
  margin-top: -24px;
  padding: 50px 0;
}

.live-stream {
  position: relative;
  background-image: url('../img/IMG_6875.jpg');
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  padding: 20px;
  color: white; 
}

.live-stream::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; 
}

.live-stream .container { 
  position: relative;
  z-index: 2;
}



.carousel-inner{
    padding: 1em;
}
.card{
    margin: 0 1.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}
.card-explore{
    margin: 0 1.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    height: 286px;
    background-color: #ffffff;
    border-radius: 12px;
}
.h-vh {
  height: 42vh;
}
.carousel-control-prev, .carousel-control-next{
    background-color: #e3989f;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    opacity: 2;
}

/*.card {
  position: relative;
  overflow: hidden;
}*/

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.8);
  z-index: 2;
}
.play-icon:hover{
	color: #2ad3a6;
}
.user-profile {
  width: 50px;
}
.home-card-slide {
	/* margin-top: 5%; */
}
.items {
  margin-top: 5%;
}

.navbar-green {
  background-color: #12cca8;
}
.navbar-green a{
  color: #ffffff;
}
.bg-green {
  background-color: #12cca8;
}
.bg-pink {
  background-color: #fff8f8;
}

.session-title {
    text-align: center;
    color: #12cca8;
    font-weight: 700;
    margin-left: -300px;
}

.applestore-img {
  width: 100%;
}
.playstore-img {
  width: 110%;
}
.live-streaming-img {
  width: 41%;
}
.header-live-streaming{
  width: 20%;
}
.navbar-brand{
  margin-left: 50px;
}
/*.login-button {
  color: #000;
  background-color: #fef2f2;
  border-color: #f3d5d5;
  width: 140px;
}*/
.register-button {
  color: #fff;
  background-color: #12cca8;
  border-color: #12cca8;
  width: 140px;
}
.play-text {
    margin-left: -42%;
    font-size: 29px;
}


/*REGISTER AND LOGIN*/

/*.register {
  background: #12cca8;
  color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  margin-left: 700px;
  margin-top: -75px;
   position: relative;
     z-index: 2; 
}*/
.account {
  background: #12cca8;
  box-shadow : 2px 6px 8px 0 rgba(22, 22, 26, 0);
  border : 0px;
}
/*.register-container {
  position: relative;
  background-image: url('../img/IMG_6965.jpg');
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  padding: 90px;
  color: white; 
}*/
.register-container {
  position: relative;
  background-image: url('../img/IMG_6965.jpg');
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  padding: 90px;
  color: white; 
}
.overlay::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1; 
}
.overlay .register-container {
  position: relative;
  z-index: 2;
}

.heading{
    text-align: center;
    font-size: 30px;
}
.text-center{
    text-align: center;
}
.img-listing {
  width: 24%;
  height: 27.5vh;
  border-radius: 12px;
}
.list-group-item {
  background-color: #fef2f2;
}

.description-list {
  border: 4px solid #f3caca;
  padding-bottom: 6%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2px;
  border-radius: 12px;
}


/*.login {
  background: #12cca8;
  color: white;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  margin-left: 700px;
  margin-left: 700px;
  margin-top: -75px;
  position: relative;
  z-index: 2; 
}
.login-container {
  position: relative;
  background-image: url('../img/IMG_6965.jpg');
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  padding: 90px;
  color: white; 
}*/
.login-container {
  position: relative;
  background-image: url('../img/IMG_6965.jpg');
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  padding: 90px;
  color: white; 
}

.custom-jumbotron {
  position: relative;
  height : 300px;
  overflow: hidden; /* Hide overflow from the background image */
}

.custom-jumbotron:before {
  content: ""; /* Create a pseudo-element for the overlay */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('../img/IMG_6965.jpg') center center no-repeat; /* Background image */
  background-size: cover;
  z-index: -1; /* Place it below the jumbotron content */
}

.custom-jumbotron:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.custom-jumbotron .container {
  position: relative; 
  z-index: 1; 
  color: #fff;
}

.list-group-item {
  margin-bottom: 12px;
  border-radius: 12px;
}
.w-75 {
  margin-left: 2.5%;
}
a{
  text-decoration: none;
}
.nav-link{
  font-size: 1.2rem;
  margin-top:  -2%;
}

.button-73 {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0 auto;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}


.button-73:hover {
    background-color: #12cca8;
    box-shadow: #94ecdc 0 -6px 8px inset;
    transform: scale(1.125);
    text-decoration: none;
    color: #fff;
} 

.button-73:active {
  transform: scale(1.025);
}







.button-pulse *:before,
.button-pulse *:after {
    content: "";
    position: absolute;
}

/**:before, *:after {
  content: "";
  position: absolute;
}
* {
  box-sizing: border-box;
}*/


/*button {
  background: transparent;.button-pulse .waving-button
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 0.8rem 2rem;
  font: 24px "Margarine", sans-serif;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
}*/
.waving-button {
  background: transparent;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 0.8rem 2rem;
  font: 24px "Margarine", sans-serif;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
}
a.waving-button {
  text-decoration: none;
  text-align: center;
  font-weight: 800;
}
.waving-button:hover{
  color: #fff;
}

.login-button {
  background-color: #f4b1b1;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 0.8rem 2rem;
  font: 15px "Margarine", sans-serif;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
}

.explore-button {
  background: transparent;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 0.8rem 2rem;
  font: 24px "Margarine", sans-serif;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
}
.premium-button {
  background: transparent;
  color: #fff;
  border: 3px solid #fff;
  border-radius: 50px;
  padding: 0.8rem 2rem;
  font: 24px "Margarine", sans-serif;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: 0.2s ease-in-out;
  letter-spacing: 2px;
}

/*.name {
  width: 100%;
  text-align: center;
  padding: 0 0 3rem;
  font: 500 14px 'Rubik', sans-serif;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}
*/
  .button__wrapper {
    display: inline-block;
    position: relative;
    width: 200px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /*.button-pulse button {
    background: var(--bg-color);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
  }*/
  .button-pulse .waving-button {
    background-color: #12cca8;
    width: 85%;
    height: 85%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    font-size :15px;
  }

  .button-pulse .button__wrapper:hover .pulsing:before {
    animation: pulsing 0.2s linear infinite;
  }

  .button-pulse .button__wrapper:hover .pulsing:after {
    animation: pulsing1 0.2s linear infinite;
  }

  .pulsing {
    width: 99%;
    height: 99%;
    border-radius: 50px;
    z-index: 1;
    position: relative;
  }

  .pulsing:before,
  .pulsing:after {
    width: 85%;
    height: 85%;
    border: inherit;
    top: 0;
    left: 0;
    z-index: 0;
    background: #c3f7ee;
    border-radius: inherit;
    animation: pulsing 2s linear infinite;
  }

  .pulsing:after {
    animation: pulsing1 2.5s linear infinite;
  }

  @keyframes pulsing {
    0% {
      opacity: 1;
      transform: scaleY(1) scaleX(1);
    }
    20% {
      opacity: 0.5;
    }
    70% {
      opacity: 0.2;
      transform: scaleY(1.8) scaleX(1.4);
    }
    80% {
      opacity: 0;
      transform: scaleY(1.8) scaleX(1.4);
    }
    90% {
      opacity: 0;
      transform: scaleY(1) scaleX(1);
    }
  }

  @keyframes pulsing1 {
    0% {
      opacity: 1;
      transform: scaleY(1) scaleX(1);
    }
    20% {
      opacity: 0.5;
    }
    70% {
      opacity: 0.2;
      transform: scaleY(1.3) scaleX(1.15);
    }
    80% {
      opacity: 0;
      transform: scaleY(1.3) scaleX(1.15);
    }
    90% {
      opacity: 0;
      transform: scaleY(1) scaleX(1);
    }
  }

  .button-typewriter .explore-button {
    width: 100%;
    height: 100%;
    background-color: #12cca8;
  }
  .button-typewriter .premium-button {
    width: 100%;
    height: 100%;
    background-color: #12cca8;
    margin-top :22%;
  }

  .button-typewriter p {
    animation: typing 4s steps(12) infinite;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    color: #fff;
    font-size: 18px;
    margin-top: 4%;
  }

  .button-typewriter .button__wrapper:hover p {
    animation: blink 0.3s infinite;
  }

  @keyframes typing {
    0% {
      width: 0;
    }
    50% {
      width: 100%;
    }
    55%,
    65%,
    75% {
      opacity: 1;
    }
    60%,
    70% {
      opacity: 0;
    }
    80% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }

  .button-parrot .parrot {
    position: absolute;
    width: 60px;
    text-align: center;
    animation: blink 0.8s infinite;
    color: transparent;
  }

  .button-parrot .parrot:before {
    content: "Click Me!";
  }

  .button-parrot .parrot:nth-child(1) {
    top: -30px;
    left: -40px;
    font: 12px/1 "Margarine", sans-serif;
    transform: rotate(-20deg);
    animation-duration: 0.5s;
  }

  .button-parrot .parrot:nth-child(2) {
    font: 12px/1 "Margarine", sans-serif;
    right: -40px;
    top: -20px;
    transform: rotate(15deg);
    animation-duration: 0.3s;
  }

  .button-parrot .parrot:nth-child(3) {
    font: 16px/1 "Margarine", sans-serif;
    top: -60px;
    left: 15px;
    transform: rotate(10deg);
    animation-duration: 1s;
  }

  .button-parrot .parrot:nth-child(4) {
    font: 18px/1 "Margarine", sans-serif;
    top: -70px;
    left: 95px;
    transform: rotate(2deg);
    animation-duration: 0.7s;
  }

  .button-parrot .parrot:nth-child(5) {
    font: 14px/1 "Margarine", sans-serif;
    top: 80px;
    left: 105px;
    transform: rotate(-20deg);
    animation-duration: 0.8s;
  }

  .button-parrot .parrot:nth-child(6) {
    font: 12px/1 "Margarine", sans-serif;
    top: 80px;
    left: 5px;
    transform: rotate(10deg);
    animation-duration: 1.2s;
  }
}

.button-parrot button:hover .parrot:before {
  content: "Do it!";
  width: 70px;
}



@keyframes rotate-nonstop {
  50% {
    transform: rotate(92deg);
  }
}

@keyframes heartbeat {
  50% {
    transform: scale(1.1);
  }
}


@keyframes rotate-nonstop {
  50% {
    transform: rotate(92deg);
  }
}

@keyframes omg-yes {
  50% {
    opacity: 1;
  }
  100% {
    top: -50px;
  }
}